<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:fragment="Head">
		<meta charset="UTF-8">
		<title>Insert title here</title>
		
		<link rel="stylesheet" href="/css/commons/common.css">
		<link rel="stylesheet" href="/css/commons/comm-header.css">
		<link rel="stylesheet" href="/css/commons/comm-footer.css">
		<link rel="stylesheet" href="/css/commons/chat-bot.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/webjars/sockjs-client/sockjs.min.js"></script>
   		<script src="/webjars/stomp-websocket/stomp.min.js"></script>
		<script src="/js/header.js"></script>
		<script src="/js/chat.js"></script>		
	</head>
	
	<body>
		<header th:fragment="Header">
			<h1>상단영역</h1>
		<div class="wrap viwe-size">
			<nav id="menu">
				<h1>메인메뉴</h1>
				<section class="logo">
					<a href="/"></a>
				</section>
				<section class="mnb">
					<ul class="flex">
						<li id="cate-hover-list" >
													
							
						</li>
						
						<li>
							<button type="button"><span>매장찾기</span></button>
							<ul class="sub">
								<li>
									<a href="#"><span>매장찾기</span></a>
								</li>
							</ul>
						</li>
						<li>
							<button type="button"><span>이벤트</span></button>
							<ul class="sub">
								<li>
									<a href="#"><span>이벤트</span></a>
								</li>
							</ul>
						</li>
						<li>
							<button type="button"><span>브랜드스토리</span></button>
							<ul class="sub">
								<li>
									<a href="#"><span>BRAND</span></a>
								</li>
								<li>
									<a href="#"><span>WHOPPER</span></a>
								</li>
								<li>
									<a href="#"><span>COMM.</span></a>
								</li>
							</ul>
						</li>
					</ul>
					
					<div class="btn_login">
						<button type="button" sec:authorize="isAuthenticated()" >
							<a th:href="|/common/category/1/goods|"><span>커스텀 주문</span></a>
						</button>
						<button type="button" sec:authorize="isAnonymous()">
							<a href="/signin"><span>커스텀 주문</span></a>
						</button>
					<!-- <ul class="flex">
						<li sec:authorize="isAnonymous()" class="wrap-sub-login">
							<a href="/signin">로그인</a>
							<a href="/signup">회원가입</a>
						</li>
					</ul> -->

					</div>
					<div class="security-login">
						<ul class="flex">
						<li sec:authorize="isAnonymous()">
							<a href="/signin">로그인</a>
							<a href="/signup">회원가입</a>
						</li>
						<li sec:authorize="isAuthenticated()">
							<span sec:authentication="principal.email"></span> <!-- 로그인 했을때 뜨는 정보 -->
							(
							<span th:if="${#authentication.principal.nickName==null}" sec:authentication="principal.name"></span>
							<span th:if="${#authentication.principal.nickName!=null}" sec:authentication="principal.nickName"></span>
							)
							<a href="/logout">로그아웃</a>
						</li>
						
					</ul>
					</div>
				</section>
			</nav>
		</div>
		<aside id="chat-bot">
			<h1>챗봇</h1>
			<div class="wrap">
				<button type="button" id="btn-chat-open" onclick="openChat()">챗도우미</button>
				<th:block th:insert="~{common/chat-bot::#chat-disp}" />
			</div>
		</aside>
		</header>
		
		<footer th:fragment="Footer">
			<h1>하단영역</h1>
		<div class="wrap">
			<nav id="foot-menu">
				<h1>푸터메뉴</h1>
				<div class="wrap viwe-size">
					<ul class="flex">
						<li>
							<a><span>메뉴</span></a>							
							<ul class="sub">
								<li>
									<a href="#"><span>BEST 메뉴</span></a>
								</li>
								<li>
									<a href="#"><span>신제품(NEW)</span></a>
								</li>
								<li>
									<a href="#"><span>프리미엄</span></a>
								</li>
								<li>
									<a href="#"><span>와퍼&주니어</span></a>
								</li>
								<li>
									<a href="#"><span>치킨&슈림프버거</span></a>
								</li>
								<li>
									<a href="#"><span>올데이킹</span></a>
								</li>
								<li>
									<a href="#"><span>사이드</span></a>
								</li>
								<li>
									<a href="#"><span>음료&디저트</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a><span>매장</span></a>
							<ul class="sub">
								<li>
									<a href="#"><span>매장찾기</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a><span>이벤트</span></a>
							<ul class="sub">
								<li>
									<a href="#"><span>이벤트</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a><span>브랜드스토리</span></a>
							<ul class="sub">
								<li>
									<a href="#"><span>BRAND</span></a>
								</li>
								<li>
									<a href="#"><span>WHOPPER</span></a>
								</li>
								<li>
									<a href="#"><span>COMM.</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a><span>고객센터</span></a>
							<ul class="sub">
								<li>
									<a href="#"><span>공지사항</span></a>
								</li>
								<li>
									<a href="/faq"><span>FAQ</span></a>
								</li>
								<li>
									<a href="#"><span>문의</span></a>
								</li>
								<li>
									<a href="#"><span>인재채용</span></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<section id="copyright">
				<div class="flex between view-size">
					<section class="copy-L">
						<h1>회사</h1>
						<p>CUSTOM BURGER</p>
						<div class="wrap">
							<dl class="flex">
								<dt>노원지점</dt>
								<dd>서울특별시 노원구 상계로3길 21 3층, 6층</dd>
							</dl>
							<dl class="flex">
								<dt>서울본점</dt>
								<dd>서울특별시 강남구 강남대로 428 만이빌딩 5, 10층</dd>
							</dl>
							<dl class="flex">
								<dt>상호</dt>
								<dd>커스텀버거</dd>
								<dt>대표자</dt>
								<dd>신재근</dd>
								<dt>사업자등록번호</dt>
								<dd>123-45-12345</dd>
							</dl>
							<p>Copyright 2022 CutomBurger Co., Ltd. All right Reserved</p>
						</div>						
					</section>
					<section class="copy-R">
						<div class="wrap">
							<ul class="con">
								<li><a><span>이용약관</span></a></li>
								<li><a><span>개인정보처리방침</span></a></li>
								<li><a><span>법적고지</span></a></li>
							</ul>
							<div class="f-btn">
								<a><span>인재채용</span></a>
								<a><span>가맹점모집</span></a>
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>
		</footer>
	</body>
</html>