<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/commons/common.css">
<link rel="stylesheet" href="/css/commons/admin-layout.css">
</head>
<body>
	<header>
		<h1>관리자페이지</h1>
		<div class="wrap-admin">
			<ul>
				<li class="admin_home">
					<a href="/admin">관리자HOME</a>
				</li>
				<li>
					<dl>
						<dt>상품</dt>
						<dd>
							<a href="/admin/goods">상품등록</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>주문</dt>
						<dd>
							<a href="/admin/order">주문관리</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>FAQ</dt>
						<dd>
							<a href="/admin/faq">문의사항관리</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>카테고리</dt>
						<dd>
							<a href="/admin/reg-category">카테고리 등록</a>
						</dd>
					</dl>
				</li>
				
			</ul>
			<div class="admin-home-link">
				<a href="/">브랜드홈</a>
			</div>
		</div>
	</header>
</body>
</html>