@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
	font-family: 'Jua', sans-serif;
	
}
body>main{
	padding-top: 30px;
	padding-left: 20px;
	font-family: 'Jua', sans-serif;
}
.wrap-admin a{
	text-decoration: none;
	color:#fff;
}
.wrap-admin .admin_home {
	text-align: center;
	
	font-size: 30px;
}
.wrap-admin{
	width:250px;
	/* background-color: #030760; */
	background-color:#d94e28;
	min-height:100vh;
	padding:20px 20px;
}
.wrap-admin > ul > li{
	line-height:40px;
	margin-bottom: 20px;
}
.wrap-admin > ul > li dt{
	color:#fff;
	font-weight: normal;
	font-size: 22px;
	line-height:40px;
}
.admin-home-link{
	margin:0 auto;
	text-align: center;
	font-size: 30px;
}
.wrap-admin > ul > li dd{
	padding-left: 10px;
}
.admin-main p{
	font-size:20px;
	color:#000;
}

